
<h1>
    Cuztomizable Brithday Letter
  </h1>
  <body>

    <% for(var i = 0; i < variableX.length; i++){ %>
       <p><%= JSON.Stringify(variableX[i]) %></p> 
        <% } %>
      <p>
          <%= variableName%>
         </p>
    <p> <%= variableStringified%>
    
    </p>

       
  </body>
  
  