
<h1>
    Cuztomizable Brithday Letter
  </h1>
  <body>

    <% for(var i = 0; i < variableName.length; i++){ %>
        <p>
            <%= JSON.stringify(variableName.greeting)%>
           </p>
          
       <p><%= JSON.Stringify(variableX[i]) %></p> 
        <% } %>
      
    

       
  </body>
  
  