

    <div class="jumbotron">
        <h1>CPA2: Birthday Letter App </h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
        The goal of this app is to be able to write birthday letters that will store certain variables
        such as age, greeting word, recipiant, and sender. You must signup or login to see
        such vairables.
    </p>
    
    <% if (true || loggedIn) {%>  
      <form action="/letter" method="post">
        <label for="sender_name">Enter name: </label>
        <input id="sender_name" type = "text" name = "sender_name">
        <br>
        <label for="age">Enger age of recipaint: </label>
        <input id="age" type = "text" name = "age">
        <br>
        <label for="greeting">Enter greeting: </label>
        <input id="greeting" type = "text" name = "greeting">
        <br>
        <label for="recipiant_name">Enger recipaint name: </label>
        <input id="recipiant_name" type = "text" name = "recipiant_name">
        <br>
        <input type="submit">
      </form>
      <br>
      <form action="/cardQuery" method="post">
        <label for="queryRName">Put in recipaint name Query: </label>
        <input id="queryRName" type="text" name = "queryRName">
        <br>
        <input type="submit">
      </form>
    <% } %>


