
<h1>
    Cuztomizable Brithday Letter
  </h1>
  <body>
      <p>
          <%= greeting%>
          <br>
        <%= rName%>, I can't beleive you turn the age of
     
          <%= age%>! I hope you have a great birthday!
          <br>
          
        From <%= sName%></p>


       
  </body>
  
  